/* Copyright 2023 user0
 * SPDX-License-Identifier: MPL-2.0 */

/* Source files available here:
   https://codeberg.org/user0/Mobile-Friendly-Firefox/
*/

@-moz-document
regexp("^(?!about:).*") {

    /* Apply this customization only on smaller screens in portrait mode */
    @media (orientation: portrait) and (max-width: 720px) {

        /* Table font size (prevents horizontal scroll on some web pages) */
        tr {
            font-size: 13px;
        }

    }

}

@-moz-document
url("about:addons"),
url-prefix("about:addons") {

    /* Apply this customization only on smaller screens */
    @media
    (orientation: landscape) and (max-height: 650px),
    (orientation: portrait) and (max-width: 720px) {

        /* Page width */
        :root {
            --in-content-sidebar-width: 50px !important;
            --sidebar-width: 50px !important;
        }
        body {
            min-width: 100vw !important;
            max-width:100vw !important;
            width: 100vw !important;
        }

        /* About:Addons */
        .search-label,
        .textbox-search-icons {
            display: none !important;
        }
        input::placeholder {
            color: white !important;
            opacity: 100% !important;
        }
        search-addons > search-textbox {
            background-color: var(--in-content-button-background) !important;
            color: var(--in-content-button-text-color) !important;
            position: fixed !important;
            top: 0 !important;
            left: 0 !important;
            padding: 0 !important;
            width: 49px !important;
        }
        search-addons > search-textbox:hover {
            background-color: var(--in-content-button-background-hover) !important;
        }
        search-addons > search-textbox:active {
            background-color: var(--in-content-button-background-active) !important;
        }
        search-addons > search-textbox[focused] {
            background-color: var(--in-content-page-background) !important;
            border: 2px solid var(--card-outline-color) !important;
            width: 100vw !important;
            z-index: 2 !important;
        }
        .main-search {
            padding-top: 18px !important;
            padding-bottom: 18px !important;
        }
        .main-heading {
            position: fixed !important;
            top: 0 !important;
            padding: 0 !important;
        }
        .page-options-menu {
            position: fixed !important;
            top: 0 !important;
            right: 0 !important;
        }
        #categories > .category {
            margin-left: 0px !important;
        }
        .sidebar-footer-list {
            margin-inline-start: 0 !important;
        }
        .list-section-heading {
            margin-top: 0 !important;
        }
        .addon-description {
            padding-right: 40px !important;
        }
        .addon-badge-recommended {
            margin-right: 10px !important;
        }
        .more-options-button {
            margin-inline-start: -6px !important;
            min-width: 36px !important;
        }
        .toggle-button {
            margin-right: -60px !important;
            margin-bottom: -60px !important;
            height: 12px !important;
            width: 24px !important;
        }
        .toggle-button:before {
            margin-top: -4px !important;
            margin-left: -6px !important;
            height: 18px !important;
            width: 18px !important;
        }

    }

    /* Apply this customization only on smaller screens in portrait mode */
    @media (orientation: portrait) and (max-width: 720px) {

        /* Reduce addon cards width and font to fit display without horizontal scrolling */
        .card {
            max-width: 250px !important;
            font-size: 8pt !important;
        }

    }

}

@-moz-document
url("about:config") {

    /* Apply this customization only on smaller screens */
    @media
    (orientation: landscape) and (max-height: 650px),
    (orientation: portrait) and (max-width: 720px) {

        /* About:Config */
        #search-container,
        #toolbar,
        #prefs {
            min-width: calc(100vw - 20px) !important;
        }
        #toolbar {
            flex-direction: column;
        }
        #prefs {
            word-wrap: anywhere;
        }
        .checkbox-container {
            margin-top: 6px;
            padding-bottom: 3px;
        }
        tr {
            font-size: 12px;
        }
        th {
            padding-left: 8px !important;
        }

    }

}

@-moz-document
url("about:license") {

    /* Apply this customization only on smaller screens */
    @media
    (orientation: landscape) and (max-height: 650px),
    (orientation: portrait) and (max-width: 720px) {

        /* About:License */
        .license-header {
            background-image: none !important;
            padding-inline-end: unset !important;
        }
        #lic-info > pre {
            font-size: 4pt !important;
        }

    }

}

@-moz-document
url("about:policies"),
url-prefix("about:policies") {

    /* Apply this customization only on smaller screens */
    @media
    (orientation: landscape) and (max-height: 650px),
    (orientation: portrait) and (max-width: 720px) {

        /* Page width */
        :root {
            --in-content-sidebar-width: 50px !important;
            --sidebar-width: 50px !important;
        }

        /* About:Policies */
        #categories > .category {
            margin-left: 0px !important;
        }
        td {
            font-size: 9px;
            padding-left: 5px !important;
            padding-right: 5px !important;
            word-wrap: anywhere;
        }

    }

}

@-moz-document
regexp("about:preferences.*") {

    /* Apply this customization only on smaller screens */
    @media
    (orientation: landscape) and (max-height: 650px),
    (orientation: portrait) and (max-width: 720px) {

        /* Page width */
        :root {
            --in-content-sidebar-width: 50px !important;
            --sidebar-width: 50px !important;
        }

        /* About:Preferences */
        #searchInput {
            display: none !important;
        }
        .pane-container {
            margin-inline-start: 10px !important;
            margin-inline-end: 10px !important;
            width: calc(100vw - 70px) !important;
            min-width: calc(100vw - 70px) !important;
        }
        #category-general,
        #category-home,
        #category-search,
        #category-privacy,
        #category-more-from-mozilla {
            width: 48px !important;
        }
        #categories > .category {
            margin-left: 0px !important;
        }
        .sidebar-footer-list {
            margin-inline-start: 0 !important;
        }
        label.web-appearance-choice:nth-child(1) > div:nth-child(2) > span:nth-child(2) {
            display: none !important;
        }
        label.web-appearance-choice:nth-child(1) > div:nth-child(2)::after {
            content: "Auto" !important;
        }
        .accessory-button {
            min-width: 100px !important;
        }
        #defaultFont,
        #advancedFonts {
            max-width: 100px !important;
            width: 100px !important;
        }
        #defaultFontSizeLabel {
            margin-left: -196px !important;
        }
        #defaultFontSizeLabel,
        #defaultFontSize {
            margin-bottom: -80px !important;
        }
        #primaryBrowserLocale {
            min-width: 20px !important;
        }

        /* About:Preferences#Privacy */
        #contentBlockingHeader {
            padding-left: 28px !important;
        }
        #trackingProtectionShield {
            margin-inline-end: 0 !important;
            margin-top: -34px !important;
            max-height: 20px !important;
            max-width: 20px !important;
            height: 20px !important;
            width: 20px !important;
        }
        #contentBlockingDescription {
            font-size: 9pt !important;
        }
        #trackingProtectionExceptions {
            padding-left: 0 !important;
            padding-right: 0 !important;
            max-width: 30px !important;
            width: 30px !important;
        }
        #historyMode {
            max-width: 235.5px !important;
            width: 235.5px !important;
        }

        /* About:Preferences#MoreFromMozilla */
        .simple .qr-code-box-title {
          max-width: 235px !important;
          width: 235px !important;
        }

    }

}

@-moz-document
url("about:protections") {

    /* Apply this customization only on smaller screens */
    @media
    (orientation: landscape) and (max-height: 650px),
    (orientation: portrait) and (max-width: 720px) {

        /* About:Protections */
        #report-content {
            margin: 0 !important;
            padding: 50px !important;
            max-width: 100vw !important;
            width: 100vw !important;
        }
        #mobile-hanger {
            display: none !important;
        }
        .body-wrapper {
            grid-column-start: 1 !important;
            grid-column-end: -1 !important;
        }
        #manage-protections,
        #sign-up-for-monitor-link,
        #save-passwords-button,
        #get-proxy-extension-link {
            grid-area: 2 / 1 / 2 / 6 !important;
        }
        .card-header .wrapper {
            grid-row-gap: 8px !important;
        }
        .card:not(.has-logins) .wrapper div:nth-child(1) {
            grid-column-end: -1 !important;
        }

    }

}

@-moz-document
url("about:rights") {

    /* Apply this customization only on smaller screens */
    @media
    (orientation: landscape) and (max-height: 650px),
    (orientation: portrait) and (max-width: 720px) {

        /* About:Rights */
        .rights-header {
            background-image: none !important;
            padding-inline-end: unset !important;
        }

    }

}
